{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE HTML>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
    <head>
        {% include 'partials/head.html.twig' %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        {% block content %}{% endblock %}

        {% include 'partials/footer.html.twig' %}
        
        {% block mobile %}
        <div class="mobile-container">
            <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {#{% include 'partials/logo.html.twig' with {mobile: true} %}#}
            </div>
                <div class="mobile-nav">
                    <ul>
                        {% if page.template() != 'modular' and page.header.home_menu_item is not empty %}
                        <li><a href="{{ base_url == '' ? '/' : base_url }}">{{ page.header.home_menu_item }}</a></li>
                        {% endif %}
                        {% for module in page.collection() %}
                        <li><a href="#{{ module.folder|replace({'_': ''}) }}">{{ module.menu }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
